* text=auto !eol
/apertium-zh_CN-zh_TW.zh_CN-zh_TW.dix -text
/apertium-zh_CN-zh_TW.zh_CN-zh_TW.t1x -text
/apertium-zh_CN-zh_TW.zh_CN.dix -text
/apertium-zh_CN-zh_TW.zh_TW.dix -text
/compile.sh -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
